<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/adempiere/base/src/org/adempiere/util/GenerateModel.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.adempiere.util.GenerateModel"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="/home/tasos/Src/Java/src/adempiere_git/customization.jar/base/src/org/compiere/model  org.compiere.model 'U' '%fl_%'"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="adempiere"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-DPropertyFile=&quot;/home/tasos/Src/Java/src/adempiere_git/adempiere/install/build/Adempiere/Adempiere.properties&quot; &#10;-DADEMPIERE_HOME=&quot;/home/tasos/Src/Java/src/adempiere_git/adempiere/install/build/Adempiere&quot;"/>
</launchConfiguration>
